include README.md
include LICENSE
include pyproject.toml
include setup.py
include requirements.txt
include install_*.sh
include install_*.bat

recursive-include src *.py *.cpp *.h *.hpp *.c *.hxx
recursive-include test *.py *.nii *.inr *.mesh
recursive-include docs *.md *.rst *.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.so
recursive-exclude * *.dll
recursive-exclude * *.dylib
recursive-exclude * *.egg-info
recursive-exclude * .git*
recursive-exclude * .DS_Store 